nav[role="navigation"] {
	@extend .clearfix;
	color: $white;
	left: -50%;
	margin-top: 0;
	position: absolute;
	width: 50%;
	top: 0;
	@media screen and (min-width: 768px) {
		color: $night-rider;
		left: auto;
		position: static;
		width: 100%;
	}
}

.menu-toggle {
	background-color: transparent;
	border: none;
	color: $night-rider;
	display: block;
	float: left;
	margin-left: 0.2em;
	padding: 0.5em;
	@media screen and (min-width: 768px) {
		display: none;
	}
	&:hover {
		background-color: transparent;
	}
	.menu-icon {
		font-size: 2em;
	}
}

.menu-category {
	@extend %clearfix;
	border-bottom: 5px solid darken($dim-gray, 10%);
	list-style: none;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	@media screen and (min-width: 768px) {
		border-top: 1px solid $black;
        border-bottom: 1px solid $black;
        margin: 1.7em auto 0;
        width: 100%;
        display: none;
	}
	li {
		border-top: 1px solid darken($night-rider, 10%);
		list-style: none;
		@media screen and (min-width: 768px) {
			border: none;
			float: left;
			&:hover > a {
				background-color: transparent;
			}
		}
	}
	a {
		color: $pacsafe-purple;
		display: inline-block;
		font-size: .9rem;
		padding: .9rem 1rem;
		overflow: visible;
		width: 100%;
		@media screen and (min-width: 768px) {
			font-size: 14.5px;
            width: auto;
		}
		@media screen and (min-width: 960px) {
			padding: 13px 2rem 13px 2rem;
		}
	}
}

.level-1 > li {
	@extend %clearfix;
    margin-right: 48px;
	// override background-color for small viewport
	background-color: transparent;
	&:first-child {
		border: none;
        margin-left: 80px;
	}
	.menu-item-toggle {
		color: $citrus;
		cursor: pointer;
		float: left;
		line-height: 1.1;
		padding: 1rem 0.8rem;
		transition: background-color 0.3s;
		width: 2.1rem;
		&:hover {
			background-color: darken($night-rider, 10%);
		}
		@media screen and (min-width: 768px) {
			display: none;
		}
	}
	a {
		transition: background-color 0.3s, color 0.3s;
		&:hover {
			background-color: darken($night-rider, 10%);
		}
		@media screen and (min-width: 768px) {
			&:hover {
				background-color: transparent;
			}
		}
	}
	> a {
		float: left;
		padding-left: 0.8rem;
		&.has-sub-menu {
			width: calc(100% - 2.1rem);
		}
		@media screen and (min-width: 768px) {
			float: none;
			padding-left: 1rem;
			width: 100%;
			&.has-sub-menu {
				width: 100%;
			}
			&:hover {
				background-color: $pacsafe-purple;
				color: $white;
			}
		}
		@media screen and (min-width: 960px) {
			padding-left: 2rem;
		}
	}
}

.level-2 {
	clear: left;
	display: none;
	> ul {
		@extend .clearfix;
		padding-bottom: .5em;
		padding-left: 2.1rem;
	}
	.level-1 > .active & {
		display: block;
	}
	@media screen and (min-width: 768px) {
		background-color: $white;
		box-shadow: 0 3px 3px 2px rgba($charcoal, 0.3);
		color: $pacsafe-purple;
		padding: 17px 0 30px 0;
		position: absolute;
		z-index: 1;
        border-top: 3px solid $pacsafe-purple;
		.level-1 li:hover & {
			display: block;
		}
		a {
			color: $pacsafe-purple;
			&:hover {
				text-decoration: underline;
			}
		}
        a:after {
            font-family: FontAwesome;
            content: "\f054";
            display: inline-block;
            padding-left: 38px;
            padding-bottom: 3px;
            vertical-align: middle;
            font-size: 10px;
            color: $very-light-gray;
        }
		> ul {
			float: left;
			padding-left: 0;
            max-width: 65%;
			> li {
				float: left;
                min-width: 12em;
                margin-right: 40px;
                margin-left: 52px;
				> a {
					padding: 0.5em 1rem;
					text-transform: none;
				}
			}
		}
		.menu-vertical {
			> li > a:first-child {
				padding-top: 1em;
			}
		}
		.menu-horizontal {
			float: none;
			> li {
				border-right: 1px solid $gainsboro;
				float: left;
				padding-right: 2rem;
				&:last-child {
					border-right: none;
				}
			}

		}
		.banner {
			float: left;
		}
	}
	.banner {
        padding: 0 40px 0 40px;
        border-left: 2px solid $very-light-gray;
		display: none;
		@media screen and (min-width: 768px) {
			display: block;
		}
        p{
			margin: 0;
		}
		img {
			vertical-align: top;
		}
	}
    .menu-category-title {
        color: $pacsafe-purple;
        text-align: center;
        font-size: 25px;
        font-weight: bold;
        border-bottom: 1px solid $pacsafe-purple;
        margin: 0 0 30px 0;
        padding-bottom: 17px;
    }
}

.level-3 {
	display: none;
	padding-left: 2em;
	.level-2 .active & {
		display: block;
	}
	@media screen and (min-width: 768px) {
		display: block;
		a {
			color: darken($citrus, 20%);
			font-weight: normal;
			font-size: 1em;
			padding: 0;
		}
		li {
			float: none;
			padding: 0.4em;
		}
	}
}
