#homepage-slider {
	position: relative;
	overflow: hidden;
	width: 100%;
	.jcarousel-control {
		bottom: 0.5rem;
		right: 0.5rem;
		position: absolute;
		a {
			background: none repeat scroll 0 0 $gainsboro;
			border: 1px solid $very-light-gray;
			display: block;
			float: left;
			height: 24px;
			margin: 0 3px;
			opacity: .5;
			text-indent: -999em;
			width: 24px;
			&.active {
				background-color: $dim-gray;
			}
			&:hover {
				background-color: $dim-gray;
				opacity: .7;
			}
		}
	}
}

.home-bottom-slots {
	margin: auto;
	max-width: 960px;
	.home-bottom-left,
	.home-bottom-center,
	.home-bottom-right {
		clear: none;
		width: 100%;
		@media screen and (min-width: 960px) {
			float: left;
			width: 33.33333333333333333%;
		}
	}
}
.popup-subscrible{
	max-width: 350px;
	margin : 0 auto;
	padding : 0 20px 20px;
	border : blue;
	color : $citrus;
	a {
		float: right;
    	line-height: 30px;
    	text-decoration : underline;
	}
	button{
		width: 100%;
		border-radius : 0;
		padding: 0.7em 2.5em;
		text-transform: uppercase;
	}
	h1{
		font-weight: bold;
		text-transform: uppercase;
	    font-style: normal;
	    text-align: center;
	    margin: 0;
	    padding-bottom: 20px;
	    border-bottom: 1px solid #2c2c5f;
	    margin-bottom: 20px;
	}
	.required-indicator{
		display:none;
	}
	.login-oauth{
		p{
			padding: 10px 0 20px;
		}
		form{
			text-align : center;
			input[type="image"]{
				border-radius: 50%;
			}
		}
	}
	.login-box{
		padding-top:20px;
		border-top: 1px solid #2c2c5f;
    	margin-top: 20px;
		h2{
			margin : 0;
			font-style: normal;
		    font-size: 15px;
		    font-weight: bold;
		    text-align: center;
		    margin-bottom: 10px;
		}
	}
}

